@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@inject IConfiguration config
<html>

<head>
    <link href="/dist/styles.css" rel="stylesheet">
    <script src="/dist/bundle.js" defer></script>
    @* <meta name="htmx-config" content='{"historyCacheSize": 0, "refreshOnHistoryMiss": true}'> *@
    </script>
    @{
        var tokenSet = Antiforgery.GetTokens(Context);
        var csrftoken = tokenSet.RequestToken;
        var header = tokenSet.HeaderName;
    }
    <script defer>
        window.onload = () => {
            document.body.addEventListener('htmx:configRequest', (event) => {
                event.detail.headers['@header'] = '@csrftoken';
            })
        }
    </script>
    @if (config["ASPNETCORE_ENVIRONMENT"] == "Development")
    {
        <script src="/_framework/aspnetcore-browser-refresh.js"></script>
    }
</head>

<body class="h-lvh flex flex-col" hx-swap="outerHTML" hx-ext="morph" hx-boost="true" hx-push-url="true">
    <partial name="_header" />
    <div class="flex flex-row flex-grow">
        <vc:navbar />
        <div class="flex-1 flex-grow" id="content">
            @RenderBody()
        </div>
    </div>
</body>

</html>
