<dialog class="modal"
    x-data="{close() { $root.close(); $nextTick(() => window.sleep(200).then(() => $root.remove())); }}"
    x-init="$root.show()">
    <div class="modal-box border border-black">
        <button x-on:click="close" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        <partial name="@Model.Name" model="@Model.Value" />
    </div>
    <button x-on:click="close" class="modal-backdrop bg-opacity-10bg-black">
    </button>
</dialog>