@model Note?

@{
    var isEdit = Model != null;
    var action = isEdit ? "/notes/update" : "/notes/create";
    var target = isEdit ? $@"#n{Model!.Id}" : "#note-container";
    var swap = isEdit ? $"outerHTML" : "beforeend";
}
<form hx-post="@action" hx-target="@target" hx-swap="@swap">
    <input type="hidden" name="id" value="@Model?.Id">
    <input name="title" placeholder="title" value=@Model?.Title>
    <input name="text" placeholder="text" value=@Model?.Text>
    <input type="submit">
</form>