@model Note
<div id="n@(Model.Id)" class="grid grid-cols-3">
    <div class="font-bold">@Model.Title</div>
    <div>@Model.Text</div>
    <button class="btn" hx-get="/notes/edit?id=@Model.Id" hx-target="body" hx-swap="beforeend">Edit</button>
</div>