<h1>
    Home
</h1>

<partial name="_counter" model="0"/>
<div>
    <a class="link" href="/home/authorized">Authorized link</a>
</div>

<div>
    <a class="link" hx-get="/home/modal" hx-target="body" hx-swap="beforeend">Modal link</a>
</div>

<div>
    <a class="link" href="/notes">notes</a>
</div>
